body {
    padding-top: 50px;
    background: #c4d7e5 ; 
    font-family: $font-family;
    font-size: 16px;
    background-size: 100% !important;
    transform: translate3d(0, 0, 0);
    height: 100vh;
}

h5 {
    margin-bottom: 30px;
}

.button-container {

    padding: 20px; 
    border-radius: 10px; 
    opacity: 0.85;
}
.btn-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-group .btn {
    margin-bottom: 65px; 
    padding: 15px 25px;
    font-size: 16px;
    border-radius: 60px;
    transition: all 0.3s ease;
    width: 700px; 
    text-align: center; 
}
.btn-group .btn:hover {
    transform: scale(1.05);
}
.btn-group .btn i {
    margin-right: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}