body {
    padding-top: 50px;
    background: url(admin.jpg), no-repeat;
    font-family: $font-family;
    font-size: 16px;
    background-size: 100% !important;
    animation: move 10s ease infinite;
    transform: translate3d(0, 0, 0);
    height: 100vh;
}

h5 {
    margin-bottom: 30px;
}

.button-container {

    padding: 20px; /* Adjust the padding as needed */
    border-radius: 10px; /* Optional: add border radius for a rounded container */
    opacity: 0.85;
}
.btn-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-group .btn {
    margin-bottom: 65px; /* Adjust the spacing between buttons */
    padding: 15px 25px;
    font-size: 16px;
    border-radius: 60px;
    transition: all 0.3s ease;
    width: 700px; /* Optional: set the width of buttons */
    text-align: center; /* Optional: center button text */
}
.btn-group .btn:hover {
    transform: scale(1.05);
}
.btn-group .btn i {
    margin-right: 5px;
}